In [4]:
import pandas as pd
import numpy as np
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [7]:
# 예제 데이터 ㅅ ㅐㅇ성
np.random.seed(42)
X1 = np.random.rand(100) # 임의의 수
X2 = 2 * X1 + np.random.rand(100) * 0.1 # np.random.rand(100) * 0.1 : 노이즈
X3 = np.random.rand(100)

# 데이터프레임으로 정리
df = pd.DataFrame({
      'X1': X1
    , 'X2': X2
    , 'X3': X3
})
df.head()

         X1        X2        X3
0  0.374540  0.752223  0.642032
1  0.950714  1.965070  0.084140
2  0.731994  1.495423  0.161629
3  0.598658  1.248174  0.898554
4  0.156019  0.402794  0.606429

In [8]:
# 상수항 추가(VIF 계산을 위한 필요)
X = add_constant(df)
X

    const        X1        X2        X3
0     1.0  0.374540  0.752223  0.642032
1     1.0  0.950714  1.965070  0.084140
2     1.0  0.731994  1.495423  0.161629
3     1.0  0.598658  1.248174  0.898554
4     1.0  0.156019  0.402794  0.606429
..    ...       ...       ...       ...
95    1.0  0.493796  1.022512  0.522243
96    1.0  0.522733  1.118061  0.769994
97    1.0  0.427541  0.944793  0.215821
98    1.0  0.025419  0.139547  0.622890
99    1.0  0.107891  0.293770  0.085347

[100 rows x 4 columns]

In [11]:
X.shape

(100, 4)

In [9]:
# VIF 결과를 저장할 빈 데이터프레임 생성
vif_df = pd.DataFrame()
vif_df['feature'] = X.columns
vif_df.head()

  feature
0   const
1      X1
2      X2
3      X3

In [14]:
# vif 계산을 해서 위 데이터프레임에 추가
vif_df['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif_df

  feature         VIF
0   const   11.112919
1      X1  421.089923
2      X2  421.341746
3      X3    1.023792

In [13]:
?variance_inflation_factor

Signature: variance_inflation_factor(exog, exog_idx)
Docstring:
Variance inflation factor, VIF, for one exogenous variable

The variance inflation factor is a measure for the increase of the
variance of the parameter estimates if an additional variable, given by
exog_idx is added to the linear regression. It is a measure for
multicollinearity of the design matrix, exog.

One recommendation is that if VIF is greater than 5, then the explanatory
variable given by exog_idx is highly collinear with the other explanatory
variables, and the parameter estimates will have large standard errors
because of this.

Parameters
----------
exog : {ndarray, DataFrame}
    design matrix with all explanatory variables, as for example used in
    regression
exog_idx : int
    index of the exogenous variable in the columns of exog

Returns
-------
float
    variance inflation factor

Notes
-----
This function does not save the auxiliary regression.

See Also
--------
xxx : class for regression diagnostics  TODO: does not exist yet

References
----------
https://en.wikipedia.org/wiki/Variance_inflation_factor
File:      c:\programdata\anaconda3\envs\ml-dev\lib\site-packages\statsmodels\stats\outliers_influence.py
Type:      function